<h3>{{viewTitle}}</h3>

<form action='/ppl' method="POST">
	<input type="hidden" name="_id" value="{{person._id}}">
	<div class="form-group">
		<label for="email">Email</label>
		<input type="text" name="email" id="email" class="form-control" placeholder="Email" value="{{person.email}}">
		<div class="text-danger">{{person.emailError}}</div>
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input type="text" name="password" id="password" class="form-control" placeholder="Password"
			value="{{person.password}}">
		<div class="text-danger">{{person.passwordError}}</div>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
		<a href="/ppl/list" class="btn btn-secondary"> <i class="fa fa-list-all"></i> View All </a>
	</div>
</form>